<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' href='/nm/stylesheets/layui.css' />
  </head>
  <body>
    <div class="layui-container">  
      <div class="layui-row">
        <div class="layui-col-md12 ">
          <div class="layui-card">

            <div class="layui-card-body">
              938会议室：有电脑(48-60人)，联系人：洪老师 18923792297
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-body">
              1楼报告厅：无电脑(452人)，联系人：洪老师 18923792297
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-body">
              623小教室：无电脑(16-24人)，联系人：曾老师 15220159520
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-body">
              624会议室：有电脑(68人)，联系人：曾老师 15220159520
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-body">
              413无电脑(11人)，联系人：岑老师 15889755563
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-body">
              1019党员活动室，联系人：贺老师 18529409985
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-body">
              117会议室，联系人：马老师 18566754790
            </div>
          </div>
        </div>
      </div>
    </div>



  </body>
    <script src="/nm/javascripts/jquery3.2.min.js"></script>
    <script src="/nm/javascripts/layui.all.js"></script>
    <script>
    $(document).ready(function() {
      })
    </script>

</html>